html,
body {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #000000;
}

.title {
  font-family: monospace;
  color: white;
  font-size: 18pt;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
  top: 0;
  background-color: black;
}

.body {
  font-family: monospace;
  font-size: 50pt;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
  top: 40%;
  color: white;
  background-color: black;
}

.footer {
  font-family: monospace;
  font-size: 12pt;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
  bottom: 0;
  background-color: black;
}