@import "utils";
@import "colors";
@import "variables";
@import '~bulma/bulma';

html {
  height: 100%;
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
}

