@import "colors";
@import '~bulma/bulma';
@import "../components/molecules/ReturnVoidExperience/index.module";

html {
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

