@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + '.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('type-writer', '/fonts/type-writer/type_writer');
@include font('volunmo', '/fonts/volunmo/volunmo');