
/* Large rounded green border */

.fancy-line { 
  border: 0; 
  height: 4px;
  position: relative;
  margin: 0.5em 0;
}
.fancy-line:before {
  top: -0.5em;
  height: 1em;
}
.fancy-line:after {
  height: 0.5em;
  top: calc(-0.5em + 1px);        /* adjusted this */
}

.fancy-line:before, .fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}

.fancy-line, .fancy-line:before {
  background: radial-gradient(ellipse at center, #59CBE8 0%, #59CBE8 75%);
}